<%- include('./htmlTop.ejs') %>
    <title>Create New Blog Post</title>

<%- include('./htmlMiddle.ejs') %>

<div class="container">
    <h1>Create a New Blog Post</h1>

    <form method="POST" action="/posts/create" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Content</label>
        <input type="text" id="content" name="content">

        <label for="keywords">Tags (comma-separated)</label>
        <input type="text" id="keywords" name="keywords">

        <button type="submit">Publish</button>
    </form>
</div>

<%- include('./htmlBottom.ejs') %>
