<%- include('./htmlTop.ejs') %>
    <title>User Registration</title>

<%- include('./htmlMiddle.ejs') %>

<div class="container">
    <h1>User Registration</h1>
    <% if(error) { %>
        <p>Username already in use</p>
    <% } %>
    <form method="POST" action="/register" enctype="multipart/form-data">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <button type="submit">Register</button>
    </form>
</div>

<%- include('./htmlBottom.ejs') %>
